node_modules 
# I don't actually know why I need to include this, it was just part of the setup instructions for the course 
# Section 2: Tools and Initial Setup
# 8. Creating a GitHub Repository for the Course
# 1 min 41 seconds into the video